## Create the Unstacked Version of the CO<sub>2</sub> Emissions Dataset

In [1]:
# Dependencies.
import pandas as pd

In [2]:
# Data.
co2_df = pd.read_csv('../co2_emissions_table.csv', index_col=['Country', 'Year'])
co2_df.head()

                  CO2 Emissions
Country     Year
Afghanistan 2010        8397779
            2011       12105788
            2012       10218514
            2013        8440766
            2014        7774340

In [3]:
# Unstack and save CSV.
unstack_df = co2_df.unstack()
unstack_df = unstack_df.loc[:, 'CO2 Emissions']
unstack_df.columns.name = None
unstack_df.to_csv('../country_index/co2_emissions_table.csv')
unstack_df.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country,,,,,,,,,,
Afghanistan,8397779,12105788,10218514,8440766,7774340,7904133,6744628,6859825,10452666,10720332
Albania,4448096,5030672,4667936,4928080,5620576,4532368,4495728,5404400,5402999,5579015
Argentina,186733136,190273774,191714848,190151693,188697406,192365656,190929640,187415944,185029897,178939546
Armenia,4252750,4968878,5748252,5535004,5559906,5072367,5158751,5484847,6296603,6005927
Australia,405502799,404172757,406506242,397943179,394116892,401554757,411031531,415097428,415953947,411015667