In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('resources/co2_happiness_modified.csv')
df2 = pd.read_csv('resources/air_water.csv')

In [3]:
df1.head()

,Unnamed: 0,Country,Code,Year,Annual_CO2_emission_tonnes,Life_ladder,Log_GDP_per_capita,Social_support,Life_expectancy_at_birth,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_affect,Negative_affect
0,0,Afghanistan,AFG,2008,4198329.64,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,1,Afghanistan,AFG,2009,6760313.49,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,2,Afghanistan,AFG,2010,8452224.14,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,3,Afghanistan,AFG,2011,12226017.38,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,4,Afghanistan,AFG,2012,10742056.72,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [4]:
df2.head()

,Unnamed: 0,Country,Code,Year,Basic_drinking_water,Air_pollutant_pm2.5
0,0,Afghanistan,AFG,2008,43.31,NaN
1,1,Afghanistan,AFG,2009,45.78,NaN
2,2,Afghanistan,AFG,2010,48.29,49.80
3,3,Afghanistan,AFG,2011,50.83,50.30
4,4,Afghanistan,AFG,2012,53.40,54.67

In [5]:
df1.drop(columns='Unnamed: 0', inplace=True)
df2.drop(columns='Unnamed: 0', inplace=True)

In [6]:
df1.head()

,Country,Code,Year,Annual_CO2_emission_tonnes,Life_ladder,Log_GDP_per_capita,Social_support,Life_expectancy_at_birth,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_affect,Negative_affect
0,Afghanistan,AFG,2008,4198329.64,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,AFG,2009,6760313.49,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,AFG,2010,8452224.14,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,AFG,2011,12226017.38,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,AFG,2012,10742056.72,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [7]:
df2.head()

       Country Code  Year  Basic_drinking_water  Air_pollutant_pm2.5
0  Afghanistan  AFG  2008                 43.31                  NaN
1  Afghanistan  AFG  2009                 45.78                  NaN
2  Afghanistan  AFG  2010                 48.29                49.80
3  Afghanistan  AFG  2011                 50.83                50.30
4  Afghanistan  AFG  2012                 53.40                54.67

In [8]:
new_df = df1.merge(df2, how='left')

In [9]:
new_df.head(15)

,Country,Code,Year,Annual_CO2_emission_tonnes,Life_ladder,Log_GDP_per_capita,Social_support,Life_expectancy_at_birth,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_affect,Negative_affect,Basic_drinking_water,Air_pollutant_pm2.5
0,Afghanistan,AFG,2008,4198329.64,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258,43.31,NaN
1,Afghanistan,AFG,2009,6760313.49,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237,45.78,NaN
2,Afghanistan,AFG,2010,8452224.14,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275,48.29,49.80
3,Afghanistan,AFG,2011,12226017.38,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267,50.83,50.30
4,Afghanistan,AFG,2012,10742056.72,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268,53.40,54.67
5,Afghanistan,AFG,2013,10000414.29,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273,56.01,54.89
6,Afghanistan,AFG,2014,9789185.57,3.131,7.718,0.526,52.88,0.509,0.104,0.871,0.532,0.375,58.66,59.05
7,Afghanistan,AFG,2015,10107428.68,3.983,7.702,0.529,53.20,0.389,0.080,0.881,0.554,0.339,61.34,54.89
8,Afghanistan,AFG,2016,12257907.69,4.220,7.697,0.559,53.00,0.523,0.042,0.793,0.565,0.348,64.05,55.14
9,Afghanistan,AFG,2017,13014739.66,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,0.496,0.371,66.81,NaN
10,Albania,ALB,2009,4374816.00,5.485,9.262,0.833,66.20,0.525,-0.158,0.864,0.640,0.279,90.93,NaN
11,Albania,ALB,2010,4594656.00,5.269,9.303,0.733,66.40,0.569,-0.172,0.726,0.648,0.300,91.38,20.09
12,Albania,ALB,2011,5235856.00,5.867,9.331,0.759,66.68,0.487,-0.205,0.877,0.628,0.257,91.81,22.77
13,Albania,ALB,2012,4906096.00,5.510,9.347,0.785,66.96,0.602,-0.169,0.848,0.607,0.271,92.23,20.82
14,Albania,ALB,2013,5059984.00,4.551,9.359,0.759,67.24,0.632,-0.127,0.863,0.634,0.338,92.63,19.91

In [15]:
new_df.drop(['Log_GDP_per_capita','Social_support','Life_expectancy_at_birth','Freedom_to_make_life_choices','Generosity','Perceptions_of_corruption','Positive_affect', 'Negative_affect'], axis=True, inplace=True)

In [16]:
new_df.head()

,Country,Code,Year,Annual_CO2_emission_tonnes,Life_ladder,Basic_drinking_water,Air_pollutant_pm2.5
0,Afghanistan,AFG,2008,4198329.64,3.724,43.31,NaN
1,Afghanistan,AFG,2009,6760313.49,4.402,45.78,NaN
2,Afghanistan,AFG,2010,8452224.14,4.758,48.29,49.80
3,Afghanistan,AFG,2011,12226017.38,3.832,50.83,50.30
4,Afghanistan,AFG,2012,10742056.72,3.783,53.40,54.67

In [17]:
new_df.to_csv('resources/environment_happiness.csv')