Create Master Dataset of countries with temperature data.

In [1]:
# Dependencies.
import pandas as pd

In [21]:
# Import countries.
countries_df = pd.read_csv('countries_happiness_init_temps.csv')
countries_df.head()

,Country name,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,Initial Temperature
0,Afghanistan,4.758,3.832,3.783,3.572,3.131,3.983,4.220,2.662,2.694,2.375,2.523,14.02
1,Albania,5.269,5.867,5.510,4.551,4.814,4.607,4.511,4.640,5.004,4.995,5.117,12.93
2,Argentina,6.441,6.776,6.468,6.582,6.671,6.697,6.427,6.039,5.793,6.086,5.929,14.75
3,Armenia,4.368,4.260,4.320,4.277,4.453,4.348,4.325,4.288,5.062,5.488,5.283,7.78
4,Australia,7.450,7.406,7.196,7.364,7.289,7.309,7.250,7.257,7.177,7.234,7.183,21.72

In [22]:
# Rename columns to not mix up new temperature columns.
countries_df.rename(columns={
    '2010': 'LL_2010',
    '2011': 'LL_2011',
    '2012': 'LL_2012',
    '2013': 'LL_2013',
    '2014': 'LL_2014',
    '2015': 'LL_2015',
    '2016': 'LL_2016',
    '2017': 'LL_2017',
    '2018': 'LL_2018',
    '2019': 'LL_2019',
    '2021': 'LL_2021',
}, inplace=True)
countries_df.head()

,Country name,LL_2010,LL_2011,LL_2012,LL_2013,LL_2014,LL_2015,LL_2016,LL_2017,LL_2018,LL_2019,LL_2021,Initial Temperature
0,Afghanistan,4.758,3.832,3.783,3.572,3.131,3.983,4.220,2.662,2.694,2.375,2.523,14.02
1,Albania,5.269,5.867,5.510,4.551,4.814,4.607,4.511,4.640,5.004,4.995,5.117,12.93
2,Argentina,6.441,6.776,6.468,6.582,6.671,6.697,6.427,6.039,5.793,6.086,5.929,14.75
3,Armenia,4.368,4.260,4.320,4.277,4.453,4.348,4.325,4.288,5.062,5.488,5.283,7.78
4,Australia,7.450,7.406,7.196,7.364,7.289,7.309,7.250,7.257,7.177,7.234,7.183,21.72

In [17]:
# Get lists of countries and initial temps.
countries = countries_df['Country name'].tolist()
init_temps = countries_df['Initial Temperature'].tolist()
print(countries[:5])
print(init_temps[:5])

['Afghanistan', 'Albania', 'Argentina', 'Armenia', 'Australia']
[14.02, 12.93, 14.75, 7.78, 21.72]

In [ ]:
#####

In [ ]:
temp_df = pd.read_csv('be_csv/Afghanistan_14.02_temps.csv')